<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>

  <connectionStrings>
    <add name="MyDbConn" connectionString="Data Source=PC116\SQLEXPRESS;Initial Catalog=exam_pra;Integrated Security=True" />
    <!--<add name="appleConnectionString" connectionString="Data Source=PC148\SQLEXPRESS;Initial Catalog=exam_pra;Integrated Security=True"
      providerName="System.Data.SqlClient" />-->
  </connectionStrings>

</configuration>